@model ProjetoSoftware.Models.Naufragos

@{
    ViewBag.Title = "Chartist MVC 4";
}

<link href="~/Content/chartist.min.css" rel="stylesheet" />
<h2>Chartist MVC 4 </h2>


<div class="ct-chart ct-golden-section"></div>

@section Scripts {

    <!-- CSS -->
    

    <!-- Scripts JS -->
    <script src="~/Scripts/chartist.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>


    <script type="text/javascript">


            $(document).ready(function () {


                $.ajax({
                    type: "GET",
                    url: "Naufrago/pegarDados",
                    dataType: "json",
                    success: OnSuccess,
                    error: OnError
                });

                function OnSuccess(response) {

                    var result = response;
                    var arrayLabels = [], arraySeries = [];

                    $.map(result, function (item, index) {

                        arrayLabels.push(item.Estado);
                        arraySeries.push(item.Nome);
                    });


                    var data = {

                        labels: arrayLabels,
                        series: arraySeries
                    }


                    new Chartist.Pie('.ct-chart', data, { donut: true });
                }

                function OnError(response) {
                    alert("Error !");
                }

            });

    </script>

}  