
@{
    ViewBag.Title = "Naufrágios Brasil";
}

<div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-image">
            <img src="https://image.redbull.com/rbcom/010/2014-07-24/1331666440327_2/0010/1/1200/800/1/naufr%C3%A1gio-de-kittiwake.jpg" class="img-responsive" />
        </div>
        <div class="panel-body">
            <h4>Site relacionado aos Naufrágios do Brasil!</h4>
            <p>Nesse site podemos pesquisar interagir com os naufragios ocorridos na costa brasileira.</p>
        </div>
        
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}

